<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title '' %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
    <style type="text/css">
        .jumbotron {
            margin-top: 62px;
            text-align: center;
        }

        .page-header {
            margin-top: 104px;
        }
    </style>
</head>
<body>
{% block content %}{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    $(function () {
        prettyPrint();

        $('#custom-badge-form').change(function (event) {
            var values = {
                subject: 'subject',
                status: 'status',
                color: 'color'
            };
            $.each($(event.target).serializeArray(), function (i, field) {
                values[field.name] = field.value;
            });
            $('#custom-badge')
                .attr('src', '/badge/' + values.subject + '-' + values.status + '-' + values.color + '.svg');
            $('#custom-badge-code')
                .removeClass('prettyprinted')
                .text('<img src="/badge/' + values.subject + '-' + values.status + '-' + values.color + '.svg alt="badge">');

            prettyPrint();
        });
    });
</script>
</body>
</html>
